*recentf*
.cache
.dap-breakpoints
.last-package-update-day
.lsp-session-v1
.org-id-locations
auto-save-list/
bookmarks
code-review-db-file.sqlite
code-review-error.log
eln-cache
elpa/
elpy/
emojis/
forge-database-*.sqlite
forge-database.sqlite
ido.last
mastodon.plstore
org-clock-save.el
org-roam.db
persist/
projectile-bookmarks.eld
projectile.cache
projects
roland/*.el
session.*
transient/
url/cache/
eshell/
