[submodule "packages/mermaid-mode"]
	path = packages/mermaid-mode
	url = https://github.com/abrochard/mermaid-mode.git
[submodule "packages/mix.el"]
	path = packages/mix.el
	url = https://github.com/ayrat555/mix.el.git
[submodule "packages/lockstep"]
	path = packages/lockstep
	url = https://github.com/tjim/lockstep.git
[submodule "packages/inf-elixir"]
	path = packages/inf-elixir
	url = https://github.com/J3RN/inf-elixir.git
[submodule "packages/togetherly"]
	path = packages/togetherly
	url = https://github.com/zk-phi/togetherly.git
[submodule "packages/floobits-emacs"]
	path = packages/floobits-emacs
	url = https://github.com/Floobits/floobits-emacs.git
